@import 'normalize.css/normalize.css';

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --color-base: #000000;
  --color-alpha: #ffe74c;
  --color-beta: #ff5964;
  --color-gamma: #ffffff;
  --color-psi: #6bf178;
  --color-omega: #35a7ff;
  --shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

body {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 150px 1fr;
}

header {
  background-color: var(--color-beta);
  display: grid;
  justify-content: center;
  box-shadow: var(--shadow);
  z-index: 2;
}

main {
  background-color: var(--color-omega);
  display: grid;
  grid-template: 100px 1fr / 250px 1fr 250px;
  justify-content: center;
  gap: 32px;
}

h1 {
  color: var(--color-alpha);
  font-size: 8rem;
  margin: 0;
  text-shadow: var(--shadow);
  box-shadow: var(--shadow);
  background: linear-gradient(90deg, var(--color-omega), var(--color-psi));
  border-radius: 12px;
  margin-top: 20px;
  z-index: 3;
  padding: 0 10px;
}

#screen {
  background-color: var(--color-base);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  border-radius: 0 0 32px 32px;
  font-size: 2rem;
  box-shadow: var(--shadow);
}

#screen p {
  margin: 0;
  color: var(--color-psi);
}

#play-area {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  display: grid;
  gap: 32px;
  grid-template: 1fr / repeat(2, 1fr);
}

#player,
#enemy {
  cursor: crosshair;
}

.board {
  background-color: white;
  aspect-ratio: 1 / 1;
  border-radius: 11px;
  box-shadow: var(--shadow);
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 5px;
  background-color: var(--color-omega);
  overflow: hidden;
}

.spot {
  background-color: var(--color-gamma);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.shot {
  background-color: var(--color-beta);
  pointer-events: none;
}

.ship {
  background-color: var(--color-alpha);
}

.locked {
  pointer-events: none;
}

#actions-area {
  grid-row: 1 / -1;
  grid-column: 3 / -1;
  display: grid;
  place-items: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--color-gamma);
  height: 50px;
  width: 100px;
  border-radius: 11px;
}

button:hover,
button.enabled,
.free:hover {
  background-color: var(--color-psi);
}

.hidden {
  display: none;
}
